# Dependências
node_modules/

# Logs
*.log
npm-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Diretórios de build
dist/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs
.vscode/
.idea/
